* {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	list-style-type: none;
	text-decoration: none;
}
.title {
	max-width: 1460px;
	margin: 0 auto;
}
.wrapper {
    min-height: 100vh;
	overflow: hidden;
	font-family: "Montserrat", sans-serif;
	display: flex;
	flex-direction: column;
}

.top-menu {
	max-width: 1460px;
	background-color: orange;
	margin: 0 auto;
	font-size: 20px;
}
.content {
	display: flex;
	justify-content: space-between;
}
.staff-statistic {
	padding: 30px;
}
.top-menu__content {
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 50px;
	text-decoration: none;
}

.own-container {
	padding: 30px;
	max-width: 1460px;
	margin: 0 auto;
}
.top-container {
	padding: 30px;
	max-width: 1460px;
}

.section_inner {
	/*max-width: 1170px;*/
	/*margin: 0 auto;*/
	flex: 1 1 auto;
	background-color: #dbdbdb;
}

.content_wrapp {
	display: flex;
	justify-content: space-between;
	margin: 35px 0;
}

.menu_left {
	width: 25%;
	min-width: 150px;
}
.menu_left ul {
	padding: 10px;
}
.menu_left li {
	margin-bottom: 20px;
	text-decoration: none;
}
.btn-conf-order {
	margin: 10px 0;
}
.confirm-order {
	width: 120px;
	padding-top: 100px;
}
.confirm-order__input input {
	width: 120px;
	height: 30px;
	border: 1px solid silver;
	box-shadow: 0 2px 2px silver;
}
.btn-conf-order button {
	width: 100%;
}
.order-composition  {
	text-align: center;
	box-shadow: 0 2px 2px black;
	height: 30px;
	width: 100%;
	text-decoration: none;
}

.order-composition a {
	text-decoration: none;
	color: white;
}

.success_flash {
	background-color: greenyellow;
	text-align: center;
}
.err_flash {
	background-color: red;
	text-align: center;
}
.catalog_items{
	text-align: center;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	width: 80%;
}

.arr1 {
	/*width: calc(100% / 3 - 15px);*/
	/*flex: 0 1 27%;*/
	width: 300px;
	background-color: white;
	margin-left: 15px;
	margin-bottom: 30px;
	border: 1px solid silver;
	-webkit-box-shadow: -1px 3px 5px 2px rgba(0,0,0,0.48);
	box-shadow: -1px 3px 5px 2px rgba(0,0,0,0.48);
}
.col {
	display: flex;
	flex-direction: column;
}

.col div {
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 30px;
}
.col div:first-child {
	padding-bottom: 0;
}
.menu_image {
	width: 100%;
	height: 180px;
	margin: 0 auto;
	padding: 10px;

}
.menu_image img {
	width: 100%;
}
.btn_link {
    border-radius: 20px;
    padding: 5px 30px;
	background-color: orange;
	color: white;
	font-size: 18px;
}

.footer {
	display: flex;
	height: 50px;
	background-color: #878787;
	border: 2px;
	color: white;
	font-weight: bold;
	justify-content: center;
	align-items: center;
	/*align-self: center;*/
}

.table tr {
	text-align: center;
}
th:first-child {
	text-align: left;
}
table img {
	max-width: 150px;
}
.order-items-title {
	text-align: center;
	margin-bottom: 20px;
	font-weight: bold;
	font-size: 20px;
}
.total-price {
	font-size: 16px;
	font-weight: bold;
	text-align: right;
}