<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/test.css" media="screen">
</head>
    <body>
{#        <div class="main_main_wrapper">#}
{#            <div class="main_wrapper">#}
{#                <div class="test_wrapper">#}
{#                    <div class="test">Первый блок</div>#}
{#                    <div class="test">Второй блок</div>#}
{#                    <div class="test">Третий блок</div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}


        <div class="navbar">
  <div class="container">
    <div class="navbar-flex">
      <div class="logo">Japan<span class="dot">.</span></div>

      <div class="menu">
        <div class="menu-list"><a href="#">ABOUT</a></div>
        <div class="menu-list"><a href="#">DISCOVER</a></div>
        <div class="menu-list"><a href="#">PLAT YOUR TRIP</a></div>
        <div class="menu-list"><a href="#">PLAT YOUR TRIP</a></div>
      </div>

    </div>
  </div>
</div>
    </body>
</html>