<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/waiter.css" media="screen">
    <script type="text/javascript" src="../static/js/jquery.min.js"></script>
</head>

<body>
    <div class="wrapper">
        <div class="section_inner">
            <div class="title">
                <div class="content">
                    <div class="container">
                        <div class="title"><p><strong><span>М Е Н Ю</span><br></strong></p></div>
                        <div class="sub_title">
                            <p><span>Заказ на кухню</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="top-menu">
                <div class="top-menu__content">
                    <a href="" class="top-menu__item">Меню</a>
                    <a href="" class="top-menu__item">Новый заказ</a>
                    <a href="" class="top-menu__item">История заказов</a>
                </div>
            </div>

            <div class="table-number">
                <form action="" method="post">

                </form>
            </div>

            <div class="container">
                <div class="content_wrapp">
                    <div class="menu_left">
                        <ul>
                            {% for item in category %}
                                <li class="level0"><a href="/order_space/{{ item.id }}">{{ item }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="catalog_items">
                        {% for dish in dishes %}
                        <div class="arr1 ">
                            <div class="col">
                                <div data-link="" class="menu_image col_item">
                                    <img data-lazy="1" alt="" src="{{ url_for('static', filename='img/') }}{{ dish.img }}">
                                </div>
                                <div class="title1 col_item">
                                    <h2><strong>{{ dish }}</strong></h2>
                                </div>
                                <div class="txt1 col_item">
                                    <p>{{ dish.consist }}</p>
                                </div>
                                <div class="price1 col_item">
                                    <strong>{{ dish.price }} р.</strong>
                                </div>
                                <div class="btn_order col_item" data-hcolor="#ff960b"><a href="orders/{{ dish.id }}" class="btn_link">Заказать</a></div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="footer__text">Какой-то футер</div>
        </footer>
    </div>
</body>
</html>