<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/waiter.css" media="screen">
    <script type="text/javascript" src="../static/js/jquery.min.js"></script>
</head>

<body>
    <div class="wrapper">
        <div class="section_inner">
            <div class="title">
                <div class="content">
                    <div class="container">
                        <div class="title"><p><strong><span>М Е Н Ю</span><br></strong></p></div>
                        <div class="sub_title">
                            <p><span>Выбирайте свежие фрукты и овощи по доступным ценам</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="content_wrapp">
                    <div class="menu_left">
                        <ul>
                            <li class="level0"><a href="#">Популярные</a></li>
                            <li class="level0"><a href="#">Хлеб и выпечка</a></li>
                            <li class="level0"><a href="#">Фрукты и овощи</a></li>
                            <li class="level0"><a href="#">Молочная продукция</a></li>
                        </ul>
                    </div>
                    <div class="catalog_items">
                        <div class="arr1 ">
                            <div class="col">
                                <div data-link="" class="menu_image">
                                    <img data-lazy="1" alt="" src="#">
                                </div>
                                <div class="title1">
                                    <h2><strong>Хлеб черный, 300 гр</strong></h2>
                                </div>
                                <div class="txt1">
                                    <p>В данном поле вы можете написать краткое описание товара, состоящее из 2-3 предложений или оформить в виде маркированного списка.</p>
                                </div>
                                <div class="price1">
                                    <strong>39 руб.</strong>
                                </div>
                                <div class="btn_order" data-hcolor="#ff960b">Заказать</div>
                            </div>
                        </div>
                        <div class="arr1 ">
                            <div class="col">
                                <div data-link="" class="menu_image">
                                    <img data-lazy="1" alt="" src="#">
                                </div>
                                <div class="title1">
                                    <h2><strong>Хлеб черный, 300 гр</strong></h2>
                                </div>
                                <div class="txt1">
                                    <p>В данном поле вы можете написать краткое описание товара, состоящее из 2-3 предложений или оформить в виде маркированного списка.</p>
                                </div>
                                <div class="price1">
                                    <strong>39 руб.</strong>
                                </div>
                                <div class="btn_order" data-hcolor="#ff960b">Заказать</div>
                            </div>
                        </div>
                        <div class="arr1 ">
                            <div class="col">
                                <div data-link="" class="menu_image">
                                    <img data-lazy="1" alt="" src="#">
                                </div>
                                <div class="title1">
                                    <h2><strong>Хлеб черный, 300 гр</strong></h2>
                                </div>
                                <div class="txt1">
                                    <p>В данном поле вы можете написать краткое описание товара, состоящее из 2-3 предложений или оформить в виде маркированного списка.</p>
                                </div>
                                <div class="price1">
                                    <strong>39 руб.</strong>
                                </div>
                                <div class="btn_order" data-hcolor="#ff960b">Заказать</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="footer__text">Какой-то футер</div>
        </footer>
    </div>
</body>
</html>