{% extends 'base.html' %}

{% block waiter_stat %}
    <div class="staff-statistic">
        Добро пожаловать, {{ staff.name }}
        <br>
        Заказов сегодня - {{ staff.orders|length }}
    </div>
{% endblock %}

{% block content %}
    <div class="content_wrapp">
        <div class="menu_left">
            <ul>
                <li class="level10"><a href="/order_space">Все</a></li>
                {% for item in category %}
                    <li class="level0"><a href="/order_space/{{ item.id }}">{{ item }}</a></li>
                {% endfor %}
            </ul>
            <div class="confirm-order">
                <form action="" method="post">
                    <div class="confirm-order__input">
                        <input type="number" class="form-control" name="table_number" placeholder="Стол">
                    </div>
                    <div class="btn-conf-order">
                        <button class="btn btn-warning" type="submit">OK</button>
                    </div>
                    {% if get_flashed_messages() %}
                        {% for type, msg in get_flashed_messages(True) %}
                            <div class="flash_msg {{ type }}" style="padding: 5px">
                                {{ msg }}
                            </div>
                        {% endfor %}
                    {% endif %}
                </form>
                <div>
                    <!-- Button trigger modal -->
                    <button type="button" class="bbb btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                      Посмотреть
                    </button>
                </div>
            </div>
        </div>
        <div class="catalog_items">
                <!-- Modal -->
                <div class="modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Состав заказа</h1><span class="modal-order-number">№</span>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">

                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                      </div>
                    </div>
                  </div>
                </div>
            {% for dish in dishes %}
            <div class="arr1 ">
                <div class="col">
                    <div data-link="" class="menu_image col_item">
                        <img data-lazy="1" alt="" src="{{ url_for('static', filename='img/') }}{{ dish.img }}">
                    </div>
                    <div class="title1 col_item">
                        <h2><strong>{{ dish }}</strong></h2>
                    </div>
                    <div class="txt1 col_item">
                        <p>{{ dish.consist }}</p>
                    </div>
                    <div class="price1 col_item">
                        <strong>{{ dish.price }} р.</strong>
                    </div>
                    <div class="btn_order col_item" data-hcolor="#ff960b"><a href="{{ url_for('add_to_order', dish_id=dish.id) }}" class="btn_link">Заказать</a></div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        let btn = document.querySelector('.bbb')
        btn.addEventListener('click', function () {

            fetch(`${window.origin}/order-details`)
                .then(function (response)  {
                    response.json().then(function (data) {
                        let modal_body = document.querySelector('.modal-body')
                        modal_body.innerHTML = ''
                        for (let i in data) {
                            modal_body.innerHTML +=
                                `<p class="order-item-${i}">${data[i]['name']} -- ${data[i]['price']}руб. x <span class="item-quantity-${i}">${data[i]['quantity']}</span>шт.
                                    <a href="#" class="delete-item delete-${i}" style="color: Tomato"><i class="fa-regular fa-circle-xmark"></i></a></p>`
                        }
                    }).then(function () {
                       let btn_del = document.querySelectorAll('.delete-item')
                       btn_del.forEach(element => element.addEventListener('click', function() {
                           let dish_id = parseInt(element.classList[1].substring(element.classList[1].length - 1))
                            let quantity = document.querySelector(`.item-quantity-${dish_id}`)
                            if (quantity.textContent > 1) {quantity.textContent -- }
                            else {element.closest('p').remove()}
                           fetch(`${window.origin}/order_space/orders/${dish_id}`)
                       }))

                    })
                })

        })

    </script>
{% endblock %}